<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive WiFi Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Interactive WiFi Map</h2>

        {{ map|safe }}

        <!-- Add a link to the data table page -->
        <a href="{{ url_for('data_table') }}" class="btn btn-default">View Data Table</a>
    </div>

    <script>
        $(document).ready(function() {
            $('a[title]').tooltip();

            // Set up the popup
            folium.plugins.Popup().add_to(m);

            // Add click event to markers
            m.on('click', function(e) {
                var latlng = e.latlng;
                fetch(`/card/${e.latlng.lat.toFixed(6)},${e.latlng.lng.toFixed(6)}`)
                    .then(response => response.json())
                    .then(data => {
                        $('#card-content').html(`
                            <h4>${data.name}</h4>
                            <h4>${data.ssid}</h4>
                            <p>Latitude: ${data.latitude}, Longitude: ${data.longitude}</p>
                            <p>${data.info}</p>
                            <p>BSSID: ${data.bssid}</p>
                        `);
                        $('#card').modal('show');
                    });
            });
});
    </script>
</body>
</html>